@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Commissioner', sans-serif;
  position: relative;
}
.container {
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
}

/* NavComponent */
.nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.9em;
}

/* HeroComponent */
.hero-bg {
  background-image: url('/public/images/image-hero-mobile.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

/* MainComponent */
.main {
  position: relative;
  top: -50px
}
.main-div {
  background-color: #fff;
  padding: 2.8em 1.6em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #999;  
}

.main-innner-div .img-master {
  position: absolute;
  top: -25px;
  left: 40%
}
.main-innner-div h1 {
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 1.2em;
}
.main-innner-div p {
  font-weight: 400;
  font-size: .9rem;
  color: hsl(0, 0%, 48%);
  line-height: 25px;
  padding-bottom: 2.1em;
}
.main-inner-row {
  display: flex;
  justify-content: space-between;
}
.main-inner-row .cyan-btn {
  background-color: rgb(60 ,180, 171);
  border: none;
  border-radius: 30px;
  padding: 1em 4em;
  color: #fff;
  font-weight: 700;
}
.main-inner-row .bookmark-btn {
  border: none;
  background: transparent;
}

/* Numbers component */
.numbers {
  margin-top: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #999;
  padding: 1em 0;
}
.numbers div:nth-child(2) {
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: .9em 0;
  width: 30%;
  margin: auto;
}

.numbers-row {
  display: block;
}
.numbers-row h1 {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.numbers-row p {
  font-weight: 400;
  font-size: 12px;
  color: rgb(154, 154, 154);
  padding: 1em 0;
}

progress {
  border: none;
  width: 80%;
  margin: 1em 0;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}
progress[value]::-webkit-progress-value {
  background-color: rgb(60 ,180, 171);
  border-radius: 10px;
}

/* AboutComponent */
.article {
  border-radius: 10px;
  box-shadow: 1px 1px 10px #999;
  padding: 2.8em 0; 
  text-align: left;
  margin-top: 32px;
}
.article section {
  width: 80%;
  margin: auto;
}
.article section h1 {
  padding-bottom: 1em;
}
.article section p {
  font-size: .8rem;
  line-height: 25px;
  color: rgb(154, 154, 154);
  padding-bottom: 1.2em;
}

/* PledgeComponent */
.pledge {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 10px;
  margin: 1em 0;
  padding: 1.3em 1.5em;
}
.pledge h3 {
  font-size: 1rem;
  padding-bottom: .5em;
}
.pledge h4 {
  color: rgb(60 ,180, 171);
  font-size: .85rem;
  padding-bottom: 1em;
}
.pledge h1 span {
  font-size: 1rem;
  color: rgb(154, 154, 154);;
}
.pledge button {
  border: none;
  border-radius: 30px;
  padding: 1em 1.5em;
  background-color: rgb(60 ,180, 171);
  color: #fff;
  font-weight: 700;
}

